// Here you can add other styles


.accounting{
  color:black !important
}
.header-line{
  border-bottom: 1px solid black;
}

.printing-header{
   flex-direction: column !important;
}



@media screen and (min-width : 1440px) {
  .App{
      height:100vh;
  }
  .App-container{
    height:100vh;
  }
  .App,.App-container{
   
    width: 100%;
    display: flex;
    justify-items: center;
  }



  
  
}



@media print{

 
  /* Show all columns in print */

  html,body{
    margin: 1em;
    zoom:90%
  }

 
 .cool{
  font-family: Arial, Helvetica, sans-serif;
  color: #000 !important;
 }
  .client-receipt{
  color: #000 !important;
   max-width: 200px !important;
   display:flex;
   justify-content: center;
   font-size:14px;
   h3,p,th,td{
     font-size: 14px;
     color: #000 !important;

   }
  .printing-header{

    flex-direction: row !important;
  }
   .website,.email,.doneOn{
    font-size:10px
   }
  }
}

@font-face {
font-family: "NumbersFont";
src: url("./../fonts/customFont/castorotitling-regular1-webfont.woff") format("woff"),
}
.ctable-header-cell-hash {
  width: 50px; /* adjust the width as necessary */
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  body {
    height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  #root{
    height: 100%;
    width: 100%;
  }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  $primary_color: rgb(109,23,2);
  $secondary__color: rgb(232,170,0);
  $default__color: rgb(241,240,236);


  .App {
    position: relative;
    background: url('../../public/assets//images/base-olympic.jpeg') no-repeat ;
    background-size:cover;
    opacity: 0.8;
    height: 100vh;
    width: 100%;

    input.form__control, textarea.form__control, select.form__control{
      width: 100%;
      padding: 10px;
    }
    .table-row:hover{
      cursor: pointer;
    }

    @media screen and (orientation : landscape) {
    height: 100%;}


  }
  
  .App-container{
    width:100%;
    background-color: rgba(0, 0, 0, 0.434);
    display: flex;
    flex-direction: column;
    height:100vh;
    @media screen and (orientation : landscape) {
    height: 100vh;
  }
  }
  
.widgets{
  
  div{
    cursor:pointer
  }
}
.print_styles {
  color: #000 !important;
}

.services{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto ;
  grid-column-gap:1.75em;
  grid-row-gap:1.75em;
}
.locations{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 1.45em;
  grid-column-gap: 1.45em;
}
.event-view{
  .dates{
    input{
    background: transparent !important;
    border-collapse: collapse;
    height: 100%;
    border: none;
  }
  }
  
}

.view-bill{
  table{
    thead,td,tr,th{
        border:2px solid black;
      }
  }
  .title{
    margin: 0 .5em;
  }
  p{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
 
}

.bills-grid{
  width:100%;
  height:100%;
  display:grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: auto ;
}


/* CSS */

//new add-product-stuff


.add-product-grid{
  display: grid;
  row-gap:.015em;
  column-gap:0.15em;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(auto,1fr);
}



// Define base button styles
.button-add {
  appearance: button;
  border: 1px solid;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Graphik, -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  line-height: 1.15;
  overflow: visible;
  padding: 14px 20px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all 80ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
}

.button-add:disabled {
  opacity: 0.5;
}

.button-add:focus {
  outline: 0;
}

.button-add:hover {
  background-color: #0A46E4;
  border-color: #0A46E4;
}

.button-add:active {
  background-color: #0039D7;
  border-color: #0039D7;
}

// Define button variations
.button-check-in {
  @extend .button-add;
  background-color: #1652F0;
  border-color: #1652F0;
}

.button-check-out {
  @extend .button-add;
  background-color: #245D34;
  border-color: #245D34;
}
.button-check-out :hover{
  background-color: #0a2f15;
  border-color: #235130;
}
.button-reserv-check-in {
  @extend .button-add;
  background-color: #2f80ed;
 
}


.checkout-final{
  display:flex;
  justify-content: space-between;
  button{
    padding:.75rem
  }
}

.typeahead-token {
  display: inline-flex;
  align-items: center;
  background-color: #e0e0e0;
  padding: 5px 8px;
  border-radius: 4px;
  margin-right: 5px;
}

.typeahead-remove-button {
  border: none;
  background: none;
  color: #000000;
  cursor: pointer;
  padding:5px;
  margin-left: 5px;
}